#converter {
  background-color: #FAEBD7;
  font-size: 45;
  font-family: verdana, sans-serif;
}

#hint {
  background-color: blue;
  font-size: 45;
  color: white;
  font-family: verdana, sans-serif;
}
